.mat-snack-bar-error {
    background-color: #f44336; /* Couleur de fond rouge */
    color: #fff; /* Couleur de texte blanche */
  }
  
  /* Styles pour le bouton de fermeture */
  .mat-snack-bar-error .mat-simple-snackbar-action {
    color: #fff; /* Couleur de texte blanche pour le bouton de fermeture */
  }